{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Contact</title>
{% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/top-header.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock %}


{% block content %}


<main class="main mt-5">
	<div class="container-fluid">
		<section class="wrapper">
			<div class="heading">
				<h1 class="text text-large">Sign Up</h1>
				
			</div>
			<!-- <form name="signin" class="form">
                <div class="input-control">
					<label for="email" class="input-label" hidden>Email Address</label>
					<input type="email" name="email" id="email" class="input-field" placeholder="Email Address">
				</div>
				<div class="input-control">
					<label for="email" class="input-label" hidden>Email Address</label>
					<input type="email" name="email" id="email" class="input-field" placeholder="Email Address">
				</div>
				<div class="input-control">
					<label for="password" class="input-label" hidden>Password</label>
					<input type="password" name="password" id="password" class="input-field" placeholder="Password">
				</div>
                <div class="input-control">
					<label for="password" class="input-label" hidden>Password</label>
					<input type="password" name="password" id="password" class="input-field" placeholder="Password">
				</div>
					<a href="{% url 'login' %}" class="text text-links mx-2" style="font-size: 13px !important;">Already have an account? Login here</a>

				<div class="input-control mt-4">
					<input type="submit" name="submit" class="input-submit" value="Sign Up" disabled>
				</div>
			</form> -->
			
		<form action="{% url 'register' %}" method="post">
			{% csrf_token %}
			<ul class="row">
				{%for field in form%}
				<li class="col-md-12">
					{{field}}
				</li>
				{% endfor %}
			</ul>
			<button type="submit">Submit</button>
		</form>
		</section>
	</div>
</main>




{% endblock %}




{% block js %}

<script src="{% static 'js/filter.js' %}"></script>

{% endblock %}